* {
    box-sizing: border-box
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

h2 {
    background-color: #aaa;
    margin: 0;
    padding: 50px;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

footer {
    margin-bottom: 0;
}



p {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 650px;
  }
form {
    color: rgb(145, 141, 141);
    background-color: rgb(94, 92, 92);
}